ion-content{
    --background: 
url('./assets/images/bck.png') no-repeat 
center/cover;
}

ion-content.ion-color-secondary{
        --ion-color-base: none !important;
}

IonImg {
    z-index:-1;
    position: relative;
}

